{{ form_start(form) }}
    {# {{ form_widget(form) }} #}

    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Dane pacjenta</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.PESEL)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.Document_Name)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.Document_Number)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.First_Name)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.Second_Name)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.Last_Name)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.Sex)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.Additional_info)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Kontakt</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.Dialing_Code)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.Phone_Number)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.Contact_Dialing_Code)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.Contact_Phone_Number)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Adres zameldowania</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.ID_Address.Country) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.ID_Address.Voivodeship) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.ID_Address.City) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.ID_Address.ZIP_Code) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.ID_Address.Street) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.ID_Address.Building_Number) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form_row(form.ID_Address.Apartment_Number) }}
            </div>
        </div>
        <div class="row justify-content-center">
        <div class="col-7">
            <button class="btn btn-primary">{{ button_label|default('Dodaj') }}</button>
        </div>
    </div>
    </div>
    <br>
{{ form_end(form) }}
