{% extends 'base.html.twig' %}

{% block title %}MedInfo{% endblock %}

{% block body %}

    {# Menu #}
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <!--<svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>-->
                <img class="bi me-2" src="{{ asset('images/logo_vol2.png')}}" alt="Logo" width="45" height="45">
                <span class="fs-4">MedInfo</span>
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">Strona główna</a></li>
                <li><a href="#Funkcje" class="nav-link px-2 link-dark">Funkcje</a></li>
                <li><a href="#Cennik" class="nav-link px-2 link-dark">Cennik</a></li>
                <li><a href="#Kontakt" class="nav-link px-2 link-dark">Kontakt</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-secondary me-2">Logowanie</button>
                <button type="button" class="btn btn-link">Rejestracja</button>
            </div>
        </header>
    </div>
    {# End-Menu #}


    {# Content #}
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ asset('images/Hero.png')}}" class="d-block mx-lg-auto img-fluid" alt="Hero" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Usługi dla pracowników służby zdrowia</h1>
                <p class="lead">Dedykowany produkt dla pracowników stacji dializ. Prosta nawigacja, łatwe zarządzanie!</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-link btn-lg px-4 me-md-2">Zaloguj się</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Zarejestruj się</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container px-4 py-5" id="Funkcje">
        <h2 class="pb-2 border-bottom">Co oferujemy?</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <img src="{{ asset('images/logo-zarz.png')}}" alt='icon'>
                </div>
                <div>
                    <h3 class="fs-2">Łatwe zarządzanie</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <img src="{{ asset('images/logo-compass.png')}}" alt='icon'>
                </div>
                <div>
                    <h3 class="fs-2">Prosta nawigacja</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <img src="{{ asset('images/logo-mobile.png')}}" alt='icon'>
                </div>
                <div>
                    <h3 class="fs-2">Mobilny dostęp</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-4" id="Cennik">
        <header>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">Cennik</h1>
                <p class="fs-5 text-muted">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
            </div>
        </header>

        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Free</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$1000<small class="text-muted fw-light">/mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>20 users included</li>
                                <li>4 GB of storage</li>
                                <li>Email support</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-secondary">Contact us</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Pro</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$2000<small class="text-muted fw-light">/mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>40 users included</li>
                                <li>10 GB of storage</li>
                                <li>Priority email support</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-secondary">Contact us</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3 text-bg-primary">
                            <h4 class="my-0 fw-normal">Enterprise</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$5000<small class="text-muted fw-light">/mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>40+ users included</li>
                                <li>25 GB of storage</li>
                                <li>Phone and email support</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-link">Contact us</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>

    <div class="px-4 py-4 my-3 text-center" id="Kontakt">
        <img class="d-block mx-auto mb-4" src="{{ asset('images/Contact.png')}}" alt="logo-contact">
        <h1 class="display-5 fw-bold">Kontakt</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-3"><span style="font-weight: bold !important;">Phone:</span> +48 12345678</p>
            <p class="lead mb-3"><span style="font-weight: bold !important;">Email:</span> example@mail.medinfo.pl</p>
            <p class="lead mb-3"><span style="font-weight: bold !important;">Address:</span> 2745 Veltri Drive, Karluk 99608</p>
        </div>
    </div>
    {# End-Content #}

    {# Footer #}
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <img class="bi" src="{{ asset('images/logo_vol2.png')}}" alt="Logo" width="30" height="30">
                </a>
                <span class="mb-3 mb-md-0 text-muted">© 2022 MedInfo. All rights reserved</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#"><img class="bi" src="{{ asset('images/Twitter.png')}}" alt="Logo" width="24" height="24"></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><img class="bi" src="{{ asset('images/Facebook.png')}}" alt="Logo" width="24" height="24"></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><img class="bi" src="{{ asset('images/Instagram.png')}}" alt="Logo" width="24" height="24"></a></li>
            </ul>
        </footer>
    </div>
    {# End-Footer #}
{% endblock %}
