{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../css/home.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../css/pharmacy_supply.css" />
    <link rel="stylesheet" type="text/css" href="../css/pharmacy_show.css" />
{% endblock %}

{% block title %}{{page_name}}{% endblock %}

{% block body %}

    {{ include('sidebar.html.twig') }}


<div class="flex-shrink-0 p-9 h-100 col-10 custom-div overflow-auto">
    <h1>{{page_name}}</h1>

    <a href="{{ path('app_pharmacy_supply_index') }}"><h6><i class="bi bi-arrow-left"></i> Powrót</h6></a>
    <br>

    <table class="table table-bordered border-secondary">
        <tbody>
            <tr>
                <th class="table-primary">Nazwa</th>
                <td>{{ pharmacy_supply.Name }}</td>
            </tr>
            <tr>
                <th class="table-primary">Nazwa międzynarodowa</th>
                <td>{{ pharmacy_supply.InternationalName }}</td>
            </tr>
            <tr>
                <th class="table-primary">Opis</th>
                <td>{{ pharmacy_supply.Description }}</td>
            </tr>
            <tr>
                <th class="table-primary">Ilość</th>
                <td>{{ pharmacy_supply.Quantity }}</td>
            </tr>
            <tr>
                <th class="table-primary">Data ważności</th>
                <td>{{ pharmacy_supply.ExpDate ? pharmacy_supply.ExpDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th class="table-primary">Lista N</th>
                <td>{{ pharmacy_supply.DrugListN ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-2">
            <a href="{{ path('app_pharmacy_supply_edit', {'id': pharmacy_supply.id}) }}"><button class="btn btn-primary">Edycja</button></a>
        </div>
        <div class="col-6">
            {{ include('pharmacy_supply/_delete_form.html.twig') }}
        </div>
    </div>
</div>
    

    
</div>
{% endblock %}
