{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../css/home.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../css/pharmacy_supply.css" />
    <link rel="stylesheet" type="text/css" href="../css/pharmacy_show.css" />
{% endblock %}

{% block title %}{{page_name}}{% endblock %}

{% block body %}

{{ include('sidebar.html.twig') }}

<div class="flex-shrink-0 p-9 h-100 custom-div overflow-auto col-6 col-sm-8 col-md-9 col-lg-10">

    <h1>{{page_name}}</h1>

    <a href="{{ path('app_appointment_index') }}"><h6><i class="bi bi-arrow-left"></i> Powrót</h6></a>

    <h3 style="margin: 20px 0;">Zabieg</h3>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Wykonano</th>
                <td>{{ appointment.HasHappened ? 'Tak' : 'Nie' }}</td>
            </tr>
            <tr>
                <th>Początek</th>
                <td>{{ appointment.Start ? appointment.Start|date('d-m-Y H:i') : '-' }}</td>
            </tr>
            <tr>
                <th>Koniec</th>
                <td>{{ appointment.End ? appointment.End|date('d-m-Y H:i') : '-' }}</td>
            </tr>
        </tbody>
    </table>

    <h3 style="margin: 20px 0;">Dializa</h3>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Waga przed</th>
                <td>{{ appointment.getIDDialysis().WeightBefore }}</td>
            </tr>
            <tr>
                <th>Waga po</th>
                <td>{{ appointment.getIDDialysis().WeightAfter }}</td>
            </tr>
            <tr>
                <th>Ciśnienie przed</th>
                <td>{{ appointment.getIDDialysis().BloodPressureBefore }}</td>
            </tr>
            <tr>
                <th>Ciśnienie w trakcie</th>
                <td>{{ appointment.getIDDialysis().PressureDuring }}</td>
            </tr>
            <tr>
                <th>Ciśnienie po</th>
                <td>{{ appointment.getIDDialysis().BloodPressureAfter }}</td>
            </tr>
            <tr>
                <th>Ultrafiltracja</th>
                <td>{{ appointment.getIDDialysis().Ultrafiltration }}</td>
            </tr>
            <tr>
                <th>Glikemia</th>
                <td>{{ appointment.getIDDialysis().Glycemia }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ appointment.getIDDialysis().AdditionalInfo }}</td>
            </tr>
        </tbody>
    </table>

    <h3 style="margin: 20px 0;">Podane leki</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-center" >Nazwa</th>
                <th class="text-center" >Dawka</th>
                <th class="text-center" >Szczegóły</th>
            </tr>
        </thead>
        <tbody>
            {% for med in appointment.getIDDialysis().medicines %}
            <tr>
                <td class="text-center" >{{med.getFKMedicine().Name}}</td>
                <td class="text-center" >{{med.Dose}}</td>
                <td class="text-center" >{{med.AdditionalInfo}}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">Brak wpisów</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3 style="margin: 20px 0;">Pajcent</h3>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>PESEL</th>
                <td>{{ appointment.getIDPatient().getPESEL() ? appointment.getIDPatient().getPESEL() : '-' }}</td>
            </tr>
            <tr>
                <th>Nazwa dokumentu</th>
                <td>{{ appointment.getIDPatient().getDocumentName() ? appointment.getIDPatient().getDocumentName() : '-' }}</td>
            </tr>
            <tr>
                <th>Numer dokumentu</th>
                <td>{{ appointment.getIDPatient().getDocumentNumber() ? appointment.getIDPatient().getDocumentNumber() : '-' }}</td>
            </tr>
            <tr>
                <th class="col-6">Pierwsze imię</th>
                <td>{{ appointment.getIDPatient().FirstName }}</td>
            </tr>
            <tr>
                <th class="col-6">Drugie imię</th>
                <td>{{ appointment.getIDPatient().SecondName }}</td>
            </tr>
            <tr>
                <th class="col-6">Nazwisko</th>
                <td>{{ appointment.getIDPatient().LastName }}</td>
            </tr>
            <tr>
                <th class="col-6">Płeć</th>
                {% if appointment.getIDPatient().Sex == 'M' or appointment.getIDPatient().Sex == 'm' %}
                <td>Mężczyzna</td>
                {% else %}
                <td>Kobieta</td>
                {% endif %}
            </tr>
            <tr>
                <th class="col-6">Kod kierunkowy</th>
                <td>{{ appointment.getIDPatient().DialingCode }}</td>
            </tr>
            <tr>
                <th class="col-6">Numer pacjenta</th>
                <td>{{ appointment.getIDPatient().PhoneNumber }}</td>
            </tr>
            <tr>
                <th class="col-6">Kod kierunkowy kontaktu pacjenta</th>
                <td>{{ appointment.getIDPatient().ContactDialingCode }}</td>
            </tr>
            <tr>
                <th class="col-6">Numer kontaktu pacjenta</th>
                <td>{{ appointment.getIDPatient().ContactPhoneNumber }}</td>
            </tr>
            <tr>
                <th class="col-6">Kraj</th>
                <td>{{appointment.getIDPatient().getIDAddress().getCountry()}}</td>
            </tr>
            <tr>
                <th class="col-6">Województwo</th>
                <td>{{ appointment.getIDPatient().getIDAddress().getVoivodeship() }}</td>
            </tr>
            <tr>
                <th class="col-6">Miejsce zameldowania</th>
                <td>{{appointment.getIDPatient().getIDAddress().getStreet()}} {{appointment.getIDPatient().getIDAddress().getBuildingNumber()}}
                {% if appointment.getIDPatient().getIDAddress().getApartmentNumber() != null %}
                /{{appointment.getIDPatient().getIDAddress().getApartmentNumber()}}
                {% endif %}
                {{appointment.getIDPatient().getIDAddress().getZIPCode()}} {{appointment.getIDPatient().getIDAddress().getCity()}}
                </td>
            </tr>
            <tr>
                <th class="col-6">Sczegółowe informacje</th>
                <td>{{ appointment.getIDPatient().AdditionalInfo }}</td>
            </tr>
        </tbody>
    </table>

    

    

    <div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}"><button class="btn btn-primary">Edycja</button></a>
        </div>
        {% if is_granted('ROLE_DOCTOR') %}
        <div class="col-6">
            {{ include('appointment/_delete_form.html.twig') }}
        </div>
        {% endif %}
    </div>
</div>

    <br><br>

</div>
{% endblock %}
